<ion-header>
  <ion-toolbar>
    <ion-button size="small" [routerLink]="['/profil']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>CONDITIONS ET POLITIQUES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Conditions</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, harum at pariatur</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, harum at pariatur</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, harum at pariatur</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, harum at pariatur</p>

    <h2>Politiques</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, harum at pariatur</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, harum at pariatur</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, harum at pariatur</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, harum at pariatur</p>
</ion-content>
