<ion-content [fullscreen]="true">

  <div class="header">
    <ion-title class="title">
     Encode ton mail
     <p class="subTitle">Pour recevoir un lien reset ton mdp</p>
    </ion-title>
  </div>

  <div class="ion-padding">
    <ion-item>
      <ion-input placeholder="Email" class="input"></ion-input>
      <ion-icon name="mail-unread"></ion-icon>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;"> <!--Mettre le bouton en base de page-->
    <ion-fab-button [routerLink]="['/home']"> <!--Cliquer pour acceder a la page login-->
      <ion-icon name="arrow-forward-outline"></ion-icon>    </ion-fab-button>
  </ion-fab>

  
</ion-content>
